.top{
    position: fixed;
    border-style: solid;
    border-width: 0.05px;
    border-color: rgb(0, 0, 0,0.1);
    background-color: white;
    width: 100%;
    height: 5%;
    text-align: center;
    top: 0%;
    color: black;
    margin: 0 auto;
    Display: flex;
    margin-left: -10px;
   
}
.word1{
    text-decoration:none;
    color: black;

}
.center1{
    Display: flex;
    margin: 0 auto;
}
.center2{
    margin-left: 20%;
    margin-right: 20%;
}
.picture{
    width: 60%;
}
.backtest{
    background-color: rgb(0, 217, 255,0.2);
}
